@import '~@/mixins.less';

.header {
  font-size: 16px;
  text-align: center;
  border-top: 1px solid var(--divider-color);
  padding: 8px 0;
  position: relative;

  span {
    color: var(--main-text-1);
    margin: 0 15px;
    display: inline-block;
    padding-bottom: 2px;
  }

  .active {
    color: var(--up-color);
    border-bottom: 2px solid var(--up-color);
  }

  .filterBtn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.item {
  padding: 10px;
  border-top: 10px solid var(--divider-color);

  .title {
    padding-bottom: 15px;

    label {
      font-size: 16px;
    }

    span {
      padding: 0 7px;
      font-size: 12px;
      display: inline-table;
      margin-left: 5px;
      border-radius: 2px;
    }

    .bids {
      background: rgba(46, 188, 132, 0.1);
      color: var(--up-color);
    }

    .asks {
      background: rgba(223, 56, 78, 0.1);
      color: var(--down-color);
    }
  }

  .field {
    display: flex;

    label {
      font-size: 12px;
      color: var(--main-text-2);
    }

    div {
      &:first-child {
        width: 41%;
      }

      &:nth-child(2) {
        width: 29%;
        text-align: center;
      }

      &:last-child {
        width: 30%;
        text-align: right;
      }
    }
  }

  .handle {
    text-align: right;
    border-top: 1px solid var(--divider-color);
    padding-top: 5px;
    .btn {
      background: var(--background-color-3);
      border-radius: 2px;
      padding: 5px 15px;
      display: inline-block;
      font-size: 12px;
    }
  }
}

.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100%;
  padding: 15px;
  background-color: var(--background-color-2);

  .filter-title {
    margin-bottom: 25px;
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .filter-trade {
    :global {
      .am-input-control input {
        font-size: 12px;
      }

      .am-input-extra {
        margin-left: 0;

        .iconfont {
          font-size: 12px;
        }
      }

      .am-list-item .am-list-line {
        padding-right: 10px;
      }

      .am-list-item.am-input-item {
        padding-left: 10px;
      }
    }

    span {
      margin: 0 5px;
      font-size: 20px;
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 16px;
    color: var(--main-text-1);
  }

  h4 {
    text-align: left;
    font-size: 12px;
    color: var(--main-text-2);
  }

  .filter-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--main-text-1);
    background-color: var(--background-color-3);

    svg {
      display: none;
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 16px;
      height: 16px;
      fill: #00d08a;
    }

    &.current {
      border: 1px solid #00d08a;

      svg {
        display: block;
      }
    }
  }

  .filter-handle {
    display: flex;
    justify-content: space-between;
    width: 100%;

    :global {
      .am-button {
        min-width: 95px;
      }
    }
  }
}

.choose-market {
  padding: 20px;

  p {
    margin-bottom: 10px;
  }
}

.custom-body {
  padding: 15px 15px 0;
}
